<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<title>Group Chat Socket.io Exercise</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script type ="text/javascript">
		$(document).ready(function (){
			var socket = io.connect();
			var username = prompt("What's your name?");
			console.log(username);

			socket.on("new_member", function(data){
				$("#members").append(", " + data.name);

				$("#chat").append("<p>" + data.name + " has entered the room!" + "</p>")
			});

			socket.on("all_members", function(data){
				console.log(data);
				var mems = ""
				for (var key in data.all_users) {
					mems += data.all_users[key] +", ";
				}

				mems = mems.slice(0,-2);
				$("#members").text(mems);
				$
			})


			socket.emit("new_user", {user: username});

			$("#messages").submit(function(event){
			    event.preventDefault();
			    socket.emit("new_message", {message: $("#message").val(), user: username});
			});

			$(".btn").click(function() {
			    $(this).closest('form').find("input[type=text]").val("");
		    });

			//     console.log(username);
			//     console.log($("#message").val());
			// })

			// socket.on("display_message", function(message){
			//     $("#chat").append('<p class=".col-md-8">' + username + ' : ' + message.message + '</p>');
			// })
		});
	</script>
</head>
<body>
<div id="chatroom" class="container">
	<h3>Group Chat</h3>
	<div id="members" style="background-color:yellow">
		<h4>Members: </h4>
	</div>
	<div id="chat">
	</div>
	<form id="messages" class="input-group">
		<input type="text" class="form-control" placeholder="Enter your message here" aria-describedby="basic-addon2" id="message">
		<input type="hidden" name="author">
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit">Send</button>
		</span>
	</form>
</div>
</body>
</html>