<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<title>Group Chat Socket.io Exercise</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script type ="text/javascript">
		$(document).ready(function (){
			var socket = io.connect();
			var username = prompt("What's your name?");

			socket.emit("new_user", {user: username});

			socket.on("new_member_alert", function(data){
				$("#members").append(", " + data.name);
				$("#chat").append("<p>" + data.name + " has entered the room!" + "</p>")
			})

			socket.on("disconnect_alert", function(data){
				$("#chat").append("<p>" + data.name + " has left the room." + "</p>")
			})

			socket.on("all_members", function(data){
				var mems = ""
				for (var key in data.all_users) {
					mems += data.all_users[key] +", ";
				}
				mems = mems.slice(0,-2);
				$("#members_list").text(mems);
			})

			$("#messages").submit(function(event){
			    event.preventDefault();
			    console.log($("#message").val());
			    socket.emit("new_message", {message: $("#message").val()});
				$("#messages")[0].reset();
			})

		    socket.on("display_message", function(data){
		    	$("#chat").append("<p>" + data.user + ": " + data.message + "</p>");
		    })
		});
	</script>
</head>
<body>
<div id="chatroom" class="container">
	<h1 style="text-align:center;">Schemers Group Chat</h1>
	<div id="members_box" style="background-color:#ffe1e6; padding: 10px; margin: 10px;">
		<h4>Members: </h4>
		<div id="members_list">
		</div>
	</div>
	<div id="chat" style="margin: 10px;">
	</div>
	<form id="messages" class="input-group">
		<input type="text" class="form-control" placeholder="Enter your message here" aria-describedby="basic-addon2" id="message">
		<span class="input-group-btn">
			<input type="button" class="btn btn-default" value="Send">
		</span>
	</form>
</div>
</body>
</html>